* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    &::before,
    &::after {
        @extend *;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    >li {
        list-style-type: none;
    }
}